# SQL Project

In [2]:
import pandas as pd
from sqlalchemy import create_engine
import re

In [3]:
engine = create_engine('postgresql://cslab:TacoSh%40ck@localhost:5432/cooking')

## Quesiton 1: Find the highest scoring question with a unique tag.

Because tags type is text, this query finds the highest scoring question that is unique:

In [7]:
a = pd.read_sql_query('SELECT title,tags FROM posts WHERE posttypeid = 1 GROUP BY title,tags ORDER BY MAX(score) LIMIT 1', con=engine)

In [8]:
a

                                               title              tags
0  Why are german restaurants so underwhelming in...  <german-cuisine>

In [24]:
#Because my query above didnt actually pick out the tags from the text I attempted to do that, but was unsuccessful
#I still tried:
tags_df = pd.read_sql_query('SELECT tags FROM posts WHERE posttypeid = 1 GROUP BY tags ORDER BY MAX(score) LIMIT 10', con=engine)

In [25]:
#setting df as a pandas dataframe
df = pd.DataFrame(tags_df)

#creating an empty list
tags_list = []

#This for loop iterates through the dataframe and adds the tags to the list
for i in df.itertuples():
    tags_list.append(i)

In [26]:
tags_list

[Pandas(Index=0, tags='<german-cuisine>'),
 Pandas(Index=1, tags='<lemon><lime>'),
 Pandas(Index=2, tags='<food-safety><storage-method><temperature><food-science><refrigerator>'),
 Pandas(Index=3, tags='<eggs><potatoes><salad>'),
 Pandas(Index=4, tags='<sourdough><pros><cons>'),
 Pandas(Index=5, tags='<food-safety><coffee><drinks><cocoa><science>'),
 Pandas(Index=6, tags='<food-safety><water><drinks>'),
 Pandas(Index=7, tags='<flavor><ice-cream><drinks>'),
 Pandas(Index=8, tags='<oven><microwave><ceramic>'),
 Pandas(Index=9, tags='<bread><yeast><gluten-free>')]

In [27]:
#This function was supposed to find and identify each tag
def find_between(tags_list, first, last):
    start = tags_list.index(first) + len(first)
    end = tags_list.index(last, start)
    return tags_list[start:end]

print(find_between(tags_list, "<", ">"))
#I could not get this to work so here is where I got stuck

ValueError: '<' is not in list

## Question 2: Pick a holiday and try to find the highest scoring answers relevant to that holiday.

I am not sure if "relevant" means on the exact date or something or if the holiday was in a tag or something like that.
Either way, this query selects the highest scoring answers from the exact date that the holiday falls on. I picked Valentine's day:

In [28]:
pd.read_sql_query('SELECT creationdate,id,body,score FROM posts WHERE posttypeid = 2 AND EXTRACT(DOY FROM creationdate) = 45 ORDER BY score DESC LIMIT 10;', con=engine)

,creationdate,id,body,score
0,2011-02-14 22:16:08.297,12160,"<p>I finally found what I'm looking for, from ...",44
1,2018-02-14 09:33:13.343,87752,<p>The general category for vegetables/herbs (...,43
2,2018-02-14 17:45:20.313,87755,<p>My 2 centesimi (italian for cents) from a v...,33
3,2013-02-14 07:37:50.770,31899,"<p>For smoothies, the main body of the drink i...",15
4,2011-02-14 19:34:58.513,12146,<p>It's important to determine whether your em...,14
5,2011-02-14 05:52:26.450,12118,<p>Aaronut's answer can't be beat if your issu...,14
6,2015-02-14 23:35:57.427,54754,"<p>Well, you could make your own <a href=""http...",13
7,2011-02-14 20:46:47.003,12152,<p>One thing we have found that helps in addin...,11
8,2013-02-14 08:19:44.303,31902,<p>They are easier to mash (so that they incor...,11
9,2011-02-14 13:30:06.960,12128,<p>Put ice cubes in a clean tea towel and bash...,10

This query outputs the title, id, and score of the highest scoring answers with the word "thanksgiving" in the tags.
In this case, I am looking at the name of the holiday within a tag to be "relevant":

In [4]:
pd.read_sql_query('SELECT id,body,score FROM posts WHERE tags LIKE \'%%thanksgiving%%\' ORDER BY score DESC LIMIT 10', con=engine)

      id                                               body  score
0  19012  <p>I have heard mixed advice on how long you s...     14
1  18861  <p><a href="https://cooking.stackexchange.com/...     11
2  39797  <p>Light snow is in the forecast for Thanksgiv...      9
3  19058  <p>I have a logistical problem that leaves me ...      8
4  19023  <p>I've seen all the videos of deep fried turk...      7
5   8787  <p>My T-Day turkey is looking like it's going ...      7
6  36861  <p>For the holidays, I plan to do a turkey, bu...      7
7  18860  <p>I recently tried to practice making a Seita...      7
8  49994  <p>I ordered a duck to roast for Thanksgiving....      6
9  18213  <p>We all know that Roast Turkey is the canoni...      4

In [9]:
pd.read_sql_query('SELECT body FROM posts WHERE tags LIKE \'%%food%%\' LIMIT 10', con=engine)

                                                body
0  <p>I'd like to know when to take my steaks off...
1  <p>Where can safe and reliable instructions (i...
2  <p>Is it safe to leave butter at room temperat...
3  <p>What does splashing in a shot of white vine...
4  <p>Is it possible to tell if an egg has gone o...
5  <p>I often see this technique suggested as a w...
6  <p>Is there something you can look for? Am I l...
7  <p>My wife's family breaks apart the inside an...
8  <p>I've seen recipes that called for coarsely ...
9  <p>Every recipe says I should soak beans in wa...